code .hll {
  background-color: #ffffcc; }

code {
  background: #f8f8f8; }

code .c {
  color: #8f5902;
  font-style: italic; }

code .err {
  color: #a40000;
  border: 1px solid #ef2929; }

code .g {
  color: #000000; }

code .k {
  color: #204a87;
  font-weight: bold; }

code .l {
  color: #000000; }

code .n {
  color: #000000; }

code .o {
  color: #ce5c00;
  font-weight: bold; }

code .x {
  color: #000000; }

code .p {
  color: #000000;
  font-weight: bold; }

code .cm {
  color: #8f5902;
  font-style: italic; }

code .cp {
  color: #8f5902;
  font-style: italic; }

code .c1 {
  color: #8f5902;
  font-style: italic; }

code .cs {
  color: #8f5902;
  font-style: italic; }

code .gd {
  color: #a40000; }

code .ge {
  color: #000000;
  font-style: italic; }

code .gr {
  color: #ef2929; }

code .gh {
  color: #000080;
  font-weight: bold; }

code .gi {
  color: #00A000; }

code .go {
  color: #000000;
  font-style: italic; }

code .gp {
  color: #8f5902; }

code .gs {
  color: #000000;
  font-weight: bold; }

code .gu {
  color: #800080;
  font-weight: bold; }

code .gt {
  color: #a40000;
  font-weight: bold; }

code .kc {
  color: #204a87;
  font-weight: bold; }

code .kd {
  color: #204a87;
  font-weight: bold; }

code .kn {
  color: #204a87;
  font-weight: bold; }

code .kp {
  color: #204a87;
  font-weight: bold; }

code .kr {
  color: #204a87;
  font-weight: bold; }

code .kt {
  color: #204a87;
  font-weight: bold; }

code .ld {
  color: #000000; }

code .m {
  color: #0000cf;
  font-weight: bold; }

code .s {
  color: #4e9a06; }

code .na {
  color: #c4a000; }

code .nb {
  color: #204a87; }

code .nc {
  color: #000000; }

code .no {
  color: #000000; }

code .nd {
  color: #5c35cc;
  font-weight: bold; }

code .ni {
  color: #ce5c00; }

code .ne {
  color: #cc0000;
  font-weight: bold; }

code .nf {
  color: #000000; }

code .nl {
  color: #f57900; }

code .nn {
  color: #000000; }

code .nx {
  color: #000000; }

code .py {
  color: #000000; }

code .nt {
  color: #204a87;
  font-weight: bold; }

code .nv {
  color: #000000; }

code .ow {
  color: #204a87;
  font-weight: bold; }

code .w {
  color: #f8f8f8;
  text-decoration: underline; }

code .mf {
  color: #0000cf;
  font-weight: bold; }

code .mh {
  color: #0000cf;
  font-weight: bold; }

code .mi {
  color: #0000cf;
  font-weight: bold; }

code .mo {
  color: #0000cf;
  font-weight: bold; }

code .sb {
  color: #4e9a06; }

code .sc {
  color: #4e9a06; }

code .sd {
  color: #8f5902;
  font-style: italic; }

code .s2 {
  color: #4e9a06; }

code .se {
  color: #4e9a06; }

code .sh {
  color: #4e9a06; }

code .si {
  color: #4e9a06; }

code .sx {
  color: #4e9a06; }

code .sr {
  color: #4e9a06; }

code .s1 {
  color: #4e9a06; }

code .ss {
  color: #4e9a06; }

code .bp {
  color: #3465a4; }

code .vc {
  color: #000000; }

code .vg {
  color: #000000; }

code .vi {
  color: #000000; }

code .il {
  color: #0000cf;
  font-weight: bold; }

.local-variable {
  color: red; }
