html, body {
  margin: 10;
  padding: 0;
}
canvas {
  display: block;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}

div.code
{
  font-family: "Courier New", monospace;
  white-space: pre;
}